body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #fff;
}

header {
    background-color: #0C823D;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
}

header h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.header-content {
    max-width: 800px;
    margin: 0 auto;
}

.horizontal-navigation {
    position: absolute;
    top: 10px;
    right: 20px;
}

.horizontal-navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.horizontal-navigation li {
    display: inline-block;
    margin-right: 20px;
}

.horizontal-navigation li a {
    text-decoration: none;
    color: #fff;
}

.vehicle-images {
    background-color: #fff;
    padding: 50px 20px;
    overflow: hidden;
}

.image-slider {
    /* Ajoutez ici le style pour les images déroulantes */
    display: flex; /* Utiliser flexbox pour disposer les images côte à côte */
    transition: transform 0.5s ease; /* Ajouter une transition fluide pour l'effet de défilement */

    /* Vous aurez besoin de JavaScript pour gérer le défilement */
}

/* Styles pour le conteneur des images "image-slider" */
.image-slider {
    display: flex; /* Utiliser flexbox pour disposer les images côte à côte */
    transition: transform 0.5s ease; /* Ajouter une transition fluide pour l'effet de défilement */
}

/* Styles pour chaque image */
.image-slider img {
    width: 300px; /* Ajuster la largeur de l'image selon vos besoins */
    height: auto; /* Ajuster la hauteur automatiquement pour garder les proportions */
    margin-right: 20px; /* Marge entre chaque image */
}

/* Ajouter une classe "active" pour la première image visible (utilisée avec JavaScript) */
.image-slider img.active {
    border: 2px solid #0C823D; /* Ajouter une bordure pour mettre en évidence l'image active */
}


footer {
    background-color: #0C823D;
    color: #fff;
    text-align: center;
    padding: 10px;
}
